.Novidades 
{background-size: cover;}
    .novidades-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 20px;
        gap: 20px;
    }
    
    .novidades-container h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    
    .novidades-container p {
        font-size: 1.2rem;
        max-width: 600px;
        color: #555;
    }
    