header {
    //border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    ul{
        display: flex;
        list-style: none;
        //border: solid;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
          cursor: pointer;
            text-decoration-line: underline;
        }

    }
 }
 @media (max-width:200px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
 }



 