.lancamentos {
  text-align: center;
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #222;
    letter-spacing: 1px;
  }

  img {
    width: 80vh;
    height: 80vh;
    margin-bottom: 20px;
  }
  
  .btn-azul {
    background: #7e8dcf;
  }

  .btn-marrom {
    background: #634431;
  }

  .btn-base {
    background: #e1c4a9;
    color: #222;
  }

  }
  .btn-vermelho {
    background: #cc3131;
  }

  button {
    border: none;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s ease;
   

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.97);
    }
  }


  .descricao-box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 55px;
        height: 55px;
        margin-bottom: 10px;
    }
    

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #444;
      margin: 0;
    }
  }

  p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin-top: 12px;
    padding: 0 10px;
  }







