
section {
    padding: 4rem 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

}